<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Aplikasi Nongs Dulu" />
		<meta name="theme-color" content="#171717" />

		<link rel="apple-touch-icon" href="/icons/icon-128x128.png" />
		<link rel="icon" href="./favicon.png" />

		<title>Nongs Dulu</title>

		<link rel="manifest" href="./app.webmanifest" />

		<script src="https://kit.fontawesome.com/f9dc9fae33.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<a class="skip-to-content" href="#content" aria-label="Skip to main content">Skip to main content</a>
		<header>
			<nav aria-label="Navigasi">
				<button class="mobile-menu nav-item toggle-menu" aria-label="Toggle Menu" aria-expanded="false" tabindex="0">
					<i class="fa-solid fa-bars"></i>
				</button>
				<h1 aria-label="Nama Aplikasi Nongs Dulu" tabindex="0">Nongs Dulu</h1>
				<div class="nav-links">
					<a href="http://localhost:8080/" class="nav-item" aria-label="Go to page Home">Home</a>
					<a href="/#/favorite" class="nav-item" aria-label="Go to page Favorite">Favorite</a>
					<a
						href="https://www.instagram.com/khalidwirayuda"
						target="_blank"
						class="nav-item"
						aria-label="Go to page About Us"
						>About Us</a
					>
				</div>
			</nav>
		</header>
		<main id="main-content"></main>
		<aside class="sidebar">
			<div class="sidebar-body">
				<a href="http://localhost:8080/" class="sidebar-item" aria-label="Go to page Home">
					<i class="fa-solid fa-house"></i>
					Home
				</a>
				<a href="#" class="sidebar-item" aria-label="Go to page Favorite">
					<i class="fa-solid fa-heart"></i>
					Favorite
				</a>
				<a
					href="https://www.instagram.com/khalidwirayuda"
					target="_blank"
					class="sidebar-item"
					aria-label="Go to page About Us"
				>
					<i class="fa-solid fa-circle-info"></i>
					About Us
				</a>
			</div>
		</aside>

		<section class="loading-screen">
			<div class="spinner"></div>
			<h2>Loading...</h2>
		</section>
		<footer>
			<p>Copyright &copy; 2024 Nongs Dulu</p>
		</footer>
	</body>
</html>
